{% extends "base.html" %}
{% load static %}
{% block title %}
  {% if category %}{{ category.title }}{% else %}ILViTs Homepage{% endif %}
{% endblock %}
{% block content %}
  <div id="Header"
       class="flex w-5/6 md:w-2/3 mx-auto m-16 p-8 rounded-xl shadow-md bg-gray-400 backdrop-filter backdrop-blur-xl bg-opacity-10">
    <img class="flex w-44 h-44 rounded-full mx-4 border-8 border-white border-opacity-10" src="media/about.jpg">
    <div class="flex-col align-center">
      <div class="flex text-6xl m-4 font-light text-center text-white">
        Hello! I'am Ilya Tsoy
      </div>
      <div class="block p-4 text-white">
        Let's connect >
        <div class="inline-flex">
        <div class="flex p-4">
          <svg class="h-6 w-6 text-blue-400" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
               stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"></path>
            <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4"></path>
          </svg>
        </div>
        <div class="flex p-4">
          <svg class="h-6 w-6 text-white bg-red-500 rounded-xl" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2"
               stroke-linecap="round" stroke-linejoin="round">
            <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
            <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
          </svg>
        </div>
        <div class="flex p-4">
          <svg class="h-6 w-6 text-blue-600" viewBox="0 0 24 24" fill="none" stroke="currentColor"
               stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
          </svg>
        </div>
      </div>
      </div>

    </div>
  </div>
{% endblock %}
